/*Global styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #24c6dc;
}
button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background: #27394e;
}
/* nav section */

.main-head {
  background-color: #131c27;
  color: #fff;
  position: sticky;
  top: 0px;
}
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
#logo {
  color: #fff;
  border: 3px outset #fff;
  border-radius: 3pc;
  margin-bottom: 2rem;
  text-align: center;
  flex: 1 1 100rem;
  font-size: 3em;
  font-family: "Pattaya", sans-serif;
}
#logo:hover {
  color: #f5962a;
}

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/Person\ Looking\ at\ Phone\ and\ at\ Macbook\ Pro.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 5rem;
}

/*section 2 */
#benefits {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/profile_boy.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.benefits-head {
  width: 90%;
  margin: auto;
}
.benefits-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
}
.benefits-head h3 {
  padding: 4rem 0rem;
  /* background: linear-gradient(#131c27, #eef096, transparent); */
  background-clip: text;
  background-color: rgba(0, 0, 0, 0.2);
}
.benefits-head h3 a {
  color: rgb(12, 247, 63);
}

/*feature section*/
#features {
  background: rgba(58, 96, 115, 1);
  padding: 3rem;
  padding-top: 100px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  transition: background 0.5s linear;
}
.features-head h3 {
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  /* background: lightcoral; */
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px black;
}
.cards img {
  height: 100px;
}

/* contact */
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/Neourban\ Hipster\ Office\ Desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 90%;
  color: #fff;
  border-radius: 20px;
}
.form-head {
  text-align: center;
  padding: 4rem;
}
.name-form,
.email-form {
  padding: 2rem;
  text-align: center;
}
.form-wrapper label {
  margin: 0rem 3rem;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-wrapper input {
  padding: 1rem 3rem;
}
footer {
  color: #fff;
  background: rgba(19, 28, 39, 1);
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;

  min-height: 10vh;
  flex-wrap: wrap;
}
footer h5 {
  flex: 1 1 40rem;
  /* float: right; */
}
footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
    font-size: 1.5em;
  }
}
